*{
  margin:0px;
  height:0px;
}
body{
  background-color: #999;
}

#Game{
  width:288px;
  height:224px;
  margin:20px auto;
  overflow:hidden;
  position: relative;
  outline: 1px solid #777;
}
.map-item, .map-object{
  position:absolute;
}
.map-object{
  cursor:pointer;
}