*{
  margin:0px;
  height:0px;
}
body{
  background-color: #999;
}

#Game{
  width:800px;
  height:500px;
  margin:20px auto;
  overflow:hidden;
  position: relative;
  outline: 1px solid #CCC;
}
.map-item{
  position:absolute;
}