*{
  margin:0px;
  height:0px;
}
body{
  background-color: #999;
}

#Game{
  width:352px;
  height:288px;
  margin:20px auto;
  overflow:hidden;
  position: relative;
  outline: 1px solid #777;
}
.map-item, .map-object, .map-player{
  position:absolute;
}
#path-check{
  position:absolute;
  width:352px;
  height:288px;
  background: #FFF;
  border:1px solid #FFF;
  top:5px;
  left:5px;
}